$primary: rgba(0, 8, 255, 0.679);
$secondary: rgb(97, 96, 96);
$success: rgb(0, 188, 0);
$warning: rgb(233, 233, 0);
$danger: rgb(233, 0, 0);
$info: rgb(183, 214, 249);
$light: rgb(255, 255, 255);
$dark: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);