// Colors theme

// $primary: rgb(28, 93, 153);
$primary: #414B59;
// $secondary: rgb(99, 159, 171);
$secondary: #D8E5DB;
// $tertiary: rgb(187, 205, 229);
$tertiary: #D4B1A0;
$white: rgb(255, 255, 255);
$white: rgb(255, 255, 255);
$grey: rgb(34, 34, 34);
$black: rgb(0, 0, 0);

// Buttons theme
$success: rgb(94, 238, 119);
$warning: rgb(255, 210, 0);
$danger: rgb(218, 10, 10);
$info: rgb(183, 214, 249);
$light: rgb(248, 244, 244);
$dark: rgb(0, 0, 0);