// Colors theme

$primary: rgb(28, 93, 153);
$secondary: rgb(99, 159, 171);
$tertiary: rgb(187, 205, 229);
$white: rgb(255, 255, 255);
$grey: rgb(34, 34, 34);
$black: rgb(0, 0, 0);

// Buttons theme
$success: rgb(12, 170, 12);
$warning: rgb(216, 216, 5);
$danger: rgb(218, 10, 10);
$info: rgb(183, 214, 249);
$light: rgb(248, 244, 244);
$dark: rgb(0, 0, 0);