.bg-primary {
  background-color: $primary;
  color: $white;
}

.bg-secondary {
  background: $secondary;
  color: $white;
}

.bg-tertiary {
  background: $tertiary;
}

.bg-white {
  background: $white;
}

.bg-grey {
  background: $grey;
  color: $white;
}
