.btn-primary {
  color: $white;
  background-color: $primary;
}

.btn-secondary {
  color: $white;
  background-color: $secondary;
}

.btn-success {
  color: $white;
  background-color: $success;
}

.btn-danger {
  color: $white;
  background-color: $danger;
}

.btn-warning {
  color: $black;
  background-color: $warning;
}

.btn-light {
  color: $black;
  background-color: $light;
}

.btn-info {
  color: $black;
  background-color: $info;
}

.btn-dark {
  color: $white;
  background-color: $black;
}

.btn-link {
  color: blue;
  background-color: $white;
}



